            /* -----------Create promotion picture--------------- */
            
            .main-home {
                padding: 20px 0px;
                background-color: rgba(255, 241, 241, 0.4);
                font-family: 'Times New Roman', Times, serif;
            }
            /* name of resort */
            
            .content-name {
                text-align: center;
                padding: 20px 0px;
            }
            
            .content-name span {
                padding-left: 5px;
                color: rgb(6, 149, 192);
                border-left: 1px solid rgba(0, 87, 128, 0.2);
                font-size: 3vw;
                font-weight: lighter;
            }
            /* end */
            /* slide hình ảnh */
            
            .slides input {
                display: none;
            }
            
            .slider {
                width: 100%;
                height: 52vw;
                margin: 0 auto;
                position: relative;
            }
            
            .slides {
                height: 52vw;
                display: flex;
            }
            
            .slide {
                width: 100%;
                transition: 3s;
                position: absolute;
                opacity: 0;
            }
            
            .slide.first {
                opacity: 1;
            }
            
            .slide img {
                justify-items: center;
                width: 100%;
                height: 52vw;
            }
            
            .navigation-manual {
                position: absolute;
                width: 100%;
                display: flex;
                top: 90%;
                justify-content: center;
            }
            
            .manual-btn {
                border: 1px solid rgb(219, 219, 219);
                padding: 4px;
                border-radius: 5px;
                cursor: pointer;
                transition: 1s;
            }
            
            .manual-btn:not(:last-child) {
                margin-right: 30px;
            }
            
            .manual-btn:hover {
                background-color: rgb(129, 129, 129);
            }
            
            #radio1:checked~.first {
                /* margin-left: 0; */
                opacity: 1;
            }
            
            #radio2:checked~.first1 {
                /* margin-left: -20%; */
                opacity: 1;
            }
            
            #radio3:checked~.first2 {
                /* margin-left: -40%; */
                opacity: 1;
            }
            
            #radio4:checked~.first3 {
                /* margin-left: -60%; */
                opacity: 1;
            }
            
            .navigation-auto {
                position: absolute;
                width: 100%;
                display: flex;
                top: 90%;
                justify-content: center;
                z-index: 0;
            }
            
            .navigation-auto div {
                border: 1px solid rgb(133, 133, 133);
                padding: 4px;
                border-radius: 5px;
                cursor: pointer;
                transition: 1s;
                z-index: 20;
            }
            
            .navigation-auto div:not(:last-child) {
                margin-right: 30px;
            }
            
            #radio1:checked~.navigation-auto .auto-btn1 {
                background-color: rgb(216, 216, 216);
            }
            
            #radio2:checked~.navigation-auto .auto-btn2 {
                background-color: rgb(216, 216, 216);
            }
            
            #radio3:checked~.navigation-auto .auto-btn3 {
                background-color: rgb(216, 216, 216);
            }
            
            #radio4:checked~.navigation-auto .auto-btn4 {
                background-color: rgb(216, 216, 216);
            }
            /* Kết thúc slide code */
            /* controduction erea */
            
            .text-introduction {
                padding: 30px 0px;
                margin: auto;
            }
            
            .text-introduction p {
                text-align: justify;
                font-size: 18px;
                font-weight: lighter;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            
            .nav-body {
                width: 90%;
                margin: 50px auto;
            }
            
            .content-introduct {
                text-align: left;
                padding: 0px 0px 10px 0px;
                position: relative;
            }
            
            .nav-body .n-content {
                font-size: 2vw;
                font-size: 4vmin;
            }
            
            .content-introduct-t {
                border-top: 1px solid rgb(250, 232, 186);
                text-align: center;
                padding: 30px;
                position: relative;
            }
            
            .content-introduct-t span {
                font-weight: bold;
                color: rgb(48, 48, 48);
            }
            
            .underline {
                background-color: rgb(202, 178, 41);
                width: 100px;
                height: 1px;
                position: absolute;
                bottom: 0;
            }
            
            .content-introduct span {
                font-size: 30px;
                padding: 0px 0px 10px 0px;
                font-weight: bold;
                color: rgb(63, 63, 63);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            /* chỉnh sửa nội dung giới thiệu */
            
            .main-content {
                margin: 18px 0px;
                display: grid;
                grid-template-columns: repeat(auto-fit, 520px);
                justify-content: center;
                justify-items: center;
            }
            
            .t-img {
                margin: 20px;
                /* padding-top: 170px; */
                padding-bottom: 150px;
                padding-left: 20px;
                padding-right: 20px;
                width: 450px;
                /* margin: 50px; */
                position: relative;
                cursor: pointer;
            }
            
            .t-content {
                left: 0px;
                width: 100%;
                height: 150px;
                bottom: 0;
                position: absolute;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 5px rgb(155, 155, 155);
                padding: 20px;
                transition: all ease 0.3s;
                color: rgb(34, 36, 36);
            }
            
            .t-img:hover .t-content {
                bottom: 10px;
                transition: all ease 0.3s;
                box-shadow: 0px 2px 5px rgb(39, 39, 39);
            }
            
            .t-content h4 {
                color: rgb(240, 158, 50);
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            
            .t-content p {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: justify;
            }
            
            .t-img img {
                width: 100%;
            }
            /* phần giới thiệu phòng */
            
            .highlight {
                width: 80%;
                padding: 30px;
                margin: 20px auto;
                border-top: 1px solid rgb(255, 238, 238);
            }
            
            .highlight h4 {
                text-align: center;
            }
            
            .intr-room {
                width: 80%;
                height: 750px;
                position: relative;
                margin: auto;
            }
            
            .pic-room {
                position: relative;
            }
            
            .intr-room #pic1 {
                width: 100%;
                opacity: 1;
                position: absolute;
                transition: 2s;
            }
            
            .intr-room #pic2 {
                width: 100%;
                opacity: 0;
                position: absolute;
                transition: 2s;
            }
            
            .intr-room #pic3 {
                width: 100%;
                opacity: 0;
                position: absolute;
                transition: 2s;
            }
            
            .intr-room #pic4 {
                width: 100%;
                opacity: 0;
                position: absolute;
                transition: 2s;
            }
            
            .pic-room img {
                width: 100%;
                height: 750px;
            }
            
            .content-room {
                position: absolute;
                width: 95%;
                left: 50%;
                top: -5px;
                transform: translate(-50%, 0);
                background-color: rgb(255, 255, 255, 0.7);
                text-align: center;
                border-top: 1px solid rgb(231, 15, 98, 0.5);
            }
            
            .content-room ul {
                display: inline-flex;
            }
            
            .content-room ul li {
                list-style: none;
            }
            
            .content-room ul li a {
                text-decoration: none;
                display: block;
                padding: 10px;
                margin: 5px;
                color: rgb(53, 53, 53);
                transition: all ease 0.4s;
            }
            
            .content-room ul li a:hover {
                color: rgb(230, 41, 41);
                transition: all ease 0.4s;
            }
            
            .content-room ul li a:focus {
                color: rgb(230, 41, 41);
            }
            
            .content-room ul li #actives:hover {
                color: rgb(255, 255, 255);
                background-color: rgb(236, 87, 18);
                transition: all ease 0.4s;
            }
            
            #actives,
            .content-room ul li #actives:focus {
                color: rgb(255, 255, 255);
                background-color: rgb(219, 28, 28);
            }
            /* @media all and (min-width:1280px) {
                .slider {
                    height: 120vh;
                }
                .slides {
                    height: 120vh;
                }
                .slide img {
                    height: 120vh;
                }
            }
            
            @media all and (max-width:1025px) {
                .slider {
                    height: 70vh;
                }
                .slides {
                    height: 70vh;
                }
                .slide img {
                    height: 70vh;
                }
            }
            
            @media all and (max-width:1024px) {
                .slider {
                    height: 65vh;
                }
                .slides {
                    height: 65vh;
                }
                .slide img {
                    height: 65vh;
                }
            }
            
            @media all and (max-width:800px) {
                .slider {
                    height: 55vh;
                }
                .slides {
                    height: 55vh;
                }
                .slide img {
                    height: 55vh;
                }
            }
            
            @media all and (max-width:768px) {
                .slider {
                    height: 50vh;
                }
                .slides {
                    height: 50vh;
                }
                .slide img {
                    height: 50vh;
                }
            }
            
            @media all and (max-width:600px) {
                .slider {
                    height: 40vh;
                }
                .slides {
                    height: 40vh;
                }
                .slide img {
                    height: 40vh;
                }
            }
            
            @media all and (max-width:480px) {
                .slider {
                    height: 35vh;
                }
                .slides {
                    height: 35vh;
                }
                .slide img {
                    height: 35vh;
                }
            }
            
            @media all and (max-width:320px) {
                .slider {
                    height: 35vh;
                }
                .slides {
                    height: 35vh;
                }
                .slide img {
                    height: 35vh;
                }
            } */