/* -----------Create promotion picture--------------- */

.main-home {
    padding: 20px 0px;
    background-color: rgba(255, 241, 241, 0.1);
}


/* name of resort */

.content-name {
    text-align: center;
    padding: 20px 0px;
}

.content-name span {
    padding-left: 5px;
    color: rgb(6, 149, 192);
    border-left: 1px solid rgba(0, 87, 128, 0.2);
    font-size: 35px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* end */


/* slide hình ảnh */

.slides input {
    display: none;
}

.slider {
    overflow: hidden;
    width: 100%;
    height: 677px;
    margin: 0 auto;
    position: relative;
}

.slides {
    width: 500%;
    height: 677px;
    display: flex;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    justify-items: center;
    width: 100%;
    height: 677px;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    display: flex;
    top: 90%;
    justify-content: center;
}

.manual-btn {
    border: 1px solid rgb(219, 219, 219);
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: rgb(129, 129, 129);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    display: flex;
    top: 90%;
    justify-content: center;
    z-index: 0;
}

.navigation-auto div {
    border: 1px solid rgb(133, 133, 133);
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    z-index: 20;
}

.navigation-auto div:not(:last-child) {
    margin-right: 30px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: rgb(216, 216, 216);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: rgb(216, 216, 216);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: rgb(216, 216, 216);
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: rgb(216, 216, 216);
}


/* Kết thúc slide code */


/* controduction erea */

.text-introduction {
    padding: 30px 0px;
    margin: auto;
}

.text-introduction p {
    text-align: justify;
    font-size: 18px;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-body {
    width: 80%;
    margin: 50px auto;
}

.content-introduct {
    text-align: left;
    padding: 0px 0px 10px 0px;
    position: relative;
}

.underline {
    background-color: rgb(202, 178, 41);
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: 0;
}

.content-introduct span {
    font-size: 30px;
    padding: 0px 0px 10px 0px;
    font-weight: bold;
    color: rgb(63, 63, 63);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Slider intro */


/* hiện thị chữ giữa màn hình */


/* bắt đâu định dạng cho intr-slider */

.r-design-slider {
    padding: 10px 10px;
    /* width: 100%x; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background-color: rgba(255, 248, 240, 0.5);
    margin-top: 10px;
}

.r-slides input {
    display: none;
}

.r-slider {
    overflow: hidden;
    width: 100%;
    height: 550px;
    margin: 0 auto;
}

.r-slides {
    width: 500%;
    height: 550px;
    display: flex;
}

.r-slide {
    width: 20%;
    transition: 2s;
}

.r-slide img {
    justify-items: center;
    width: 100%;
    height: 550px;
}

.r-manual-btn {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 4px;
    cursor: pointer;
    transition: 1s;
}

#r-radio1:checked~.r-first {
    margin-left: 0;
}

#r-radio2:checked~.r-first {
    margin-left: -20%;
}

#r-radio3:checked~.r-first {
    margin-left: -40%;
}

#r-radio4:checked~.r-first {
    margin-left: -60%;
}

.r-navigation-auto {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    padding: 10px;
}

.r-navigation-auto h4 {
    color: cadetblue;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.r-navigation-auto div {
    border: 1px solid rgb(150, 149, 149);
    cursor: pointer;
    transition: 1s;
    margin: 10px 0px;
    z-index: 1;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 4px 10px rgb(115, 115, 121);
}

.r-auto-btn1 {
    position: relative;
}

.r-auto-btn2 {
    position: relative;
}

.r-auto-btn3 {
    position: relative;
}

#r-radio1:checked~.r-navigation-auto .r-auto-btn1 {
    border: 1px solid rgb(202, 52, 52);
    color: brown;
}

#r-radio2:checked~.r-navigation-auto .r-auto-btn2 {
    border: 1px solid rgb(202, 52, 52);
    color: brown;
}

#r-radio3:checked~.r-navigation-auto .r-auto-btn3 {
    border: 1px solid rgb(202, 52, 52);
    color: brown;
}

#r-radio4:checked~.r-navigation-auto .r-auto-btn4 {
    border: 1px solid rgb(202, 52, 52);
    color: brown;
}


/* Kết thúc slide code */

@media only screen and (max-width: 1380px) {
    .slider {
        background-color: rgba(15, 15, 15);
        overflow: hidden;
        width: 100%;
        height: 650px;
        margin: 0 auto;
        position: relative;
    }
    .slides {
        width: 500%;
        height: 650px;
        display: flex;
    }
    .slide {
        width: 20%;
        transition: 2s;
    }
    .slide img {
        width: 100%;
        height: 650px;
        box-shadow: 2px 0px 4px black;
    }
    .intro img {
        width: 100%;
        height: 380px;
        padding: 5px;
        cursor: pointer;
    }
    .r-design-slider {
        padding: 10px 10px;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        margin-top: 10px;
    }
    .r-navigation-auto {
        width: 540px;
        position: absolute;
        justify-content: center;
        padding: 0px 10px;
        top: 0%;
        right: 0;
    }
    .r-slider {
        overflow: hidden;
        width: 100%;
        height: 350px;
    }
    .r-slides {
        height: 450px;
    }
    .r-slide img {
        width: 100%;
        height: 350px;
    }
    .r-navigation-auto h4 {
        font-size: 13px;
    }
    .r-navigation-auto p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1250px) {
    .main-home {
        padding: 20px 0px;
    }
    .content-name {
        text-align: center;
        padding: 20px 0px;
    }
    .content-name span {
        padding-left: 5px;
        color: rgb(6, 149, 192);
        border-left: 1px solid rgba(65, 66, 65, 0.2);
        font-size: 35px;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .slider {
        background-color: rgba(15, 15, 15);
        overflow: hidden;
        width: 100%;
        height: 550px;
        margin: 0 auto;
        position: relative;
    }
    .slides {
        width: 500%;
        height: 550px;
        display: flex;
    }
    .slide {
        width: 20%;
        transition: 2s;
    }
    .slide img {
        width: 100%;
        height: 550px;
        box-shadow: 2px 0px 4px black;
    }
    .text-introduction p {
        font-size: 15px;
    }
    .content-introduct span {
        font-size: 25px;
    }
    .r-design-slider {
        padding: 10px 10px;
        width: 100%;
        height: 760px;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        margin-top: 10px;
    }
    .r-navigation-auto {
        width: 100%;
        position: absolute;
        justify-content: center;
        padding: 10px;
        top: 60%;
    }
    .r-slider {
        overflow: hidden;
        width: 100%;
        height: 450px;
    }
    .r-slides {
        height: 450px;
    }
    .r-slide img {
        width: 100%;
        height: 450px;
    }
}

@media only screen and (max-width: 950px) {
    .main-home {
        padding: 20px 0px;
    }
    .content-name {
        width: 90%;
        margin: auto;
        text-align: center;
        padding: 20px 0px;
    }
    .content-name span {
        padding-left: 5px;
        border-left: 1px solid rgba(65, 66, 65, 0.2);
        font-size: 35px;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .text-introduction p {
        font-size: 13px;
    }
    .slider {
        background-color: rgba(15, 15, 15);
        overflow: hidden;
        width: 100%;
        height: 450px;
        margin: 0 auto;
        position: relative;
    }
    .slides {
        width: 500%;
        height: 450px;
    }
    .slide {
        width: 20%;
        transition: 2s;
    }
    .content-introduct span {
        font-size: 18px;
    }
    .r-slider {
        overflow: hidden;
        width: 100%;
        height: 350px;
    }
    .r-slides {
        height: 450px;
    }
    .r-slide img {
        width: 100%;
        height: 350px;
    }
    .r-design-slider {
        padding: 10px 10px;
        width: 100%;
        height: 850px;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        margin-top: 10px;
    }
    .r-navigation-auto {
        width: 100%;
        position: absolute;
        justify-content: center;
        padding: 10px;
        top: 45%;
    }
}

@media only screen and (max-width: 520px) {
    .main-home {
        padding: 20px 0px;
    }
    .content-name {
        width: 95%;
        margin: auto;
        text-align: center;
        padding: 20px 0px;
    }
    .content-name span {
        font-size: 25px;
    }
    .text-introduction p {
        font-size: 12px;
    }
    .slider {
        background-color: rgba(15, 15, 15);
        overflow: hidden;
        width: 100%;
        height: 250px;
        margin: 0 auto;
        position: relative;
    }
    .slides {
        width: 500%;
        height: 250px;
        display: flex;
    }
    .slide {
        width: 20%;
        transition: 2s;
    }
    .slide img {
        width: 100%;
        height: 250px;
        box-shadow: 2px 0px 4px black;
    }
    .gril-img {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
    }
    .content-introduct span {
        font-size: 14px;
    }
    .r-slider {
        overflow: hidden;
        width: 100%;
        height: 220px;
    }
    .r-slides {
        height: 220px;
    }
    .r-slide img {
        width: 100%;
        height: 220px;
    }
    .r-design-slider {
        padding: 10px 10px;
        width: 100%;
        height: 630px;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        margin-top: 10px;
    }
    .r-navigation-auto {
        width: 100%;
        position: absolute;
        justify-content: center;
        padding: 10px;
        top: 40%;
    }
    .r-navigation-auto h4 {
        font-size: 13px;
    }
    .r-navigation-auto p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 414px) {
    .content-introduct span {
        font-size: 12px;
    }
    .content-name span {
        font-size: 20px;
    }
    .text-introduction p {
        font-size: 12px;
    }
    .intro-child h4 {
        font-size: 11px;
    }
    .intro-child p {
        font-size: 9px;
    }
    .r-slider {
        overflow: hidden;
        width: 100%;
        height: 150px;
    }
    .r-slides {
        height: 150px;
    }
    .r-slide img {
        width: 100%;
        height: 150px;
    }
    .r-design-slider {
        padding: 10px 10px;
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        margin-top: 10px;
    }
    .r-navigation-auto {
        width: 100%;
        position: absolute;
        justify-content: center;
        padding: 10px;
        top: 31%;
    }
    .r-navigation-auto h4 {
        font-size: 10px;
    }
    .r-navigation-auto p {
        font-size: 11px;
    }
}