.main-room {
    margin: 20px auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 247, 241, 0.5);
}

.t-room {
    width: 100%;
    margin: auto;
    position: relative;
}

.main-room img {
    width: 100%;
}

.r-intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(65, 56, 2, 0.4);
    box-shadow: 0px 10px 30px rgb(17, 17, 17);
    width: 100%;
    height: 30vw;
    padding: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.r-intro h4 {
    font-size: 2.5vw;
}

.r-intro h5 {
    font-size: 1.5vw;
}

.r-content {
    margin: 20px;
    text-align: center;
    padding: 20px;
    color: rgb(255, 165, 46);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.r-rooms {
    display: grid;
    grid-template-columns: auto auto;
    /* column-gap: 0px; */
    width: 90%;
    margin: auto;
    text-align: center;
    border-top: 1px solid rgb(228, 228, 228);
    padding: 30px 0px;
    border-radius: 1em;
}

.r-img {
    cursor: pointer;
    width: 600px;
    margin: auto;
}

.r-img img {
    border-radius: 1em;
    width: 100%;
}

.r-info {
    height: auto;
    margin: auto;
    text-align: left;
}

.r-detail-info {
    margin: 20px 0px;
}

.r-detail-info i {
    padding-right: 10px;
}

.r-info input {
    width: 120px;
    height: 35px;
    border-radius: 0.5em;
    background-color: rgb(11, 172, 118, 0.6);
    border: none;
    color: rgb(212, 212, 212);
    transition: all ease 0.3s;
}

.r-info input:hover {
    color: white;
    background-color: rgb(11, 172, 118);
    transition: all ease 0.3s;
}


/* form đang ký phòng */

.r-form {
    margin: auto;
    height: 100vh;
    background-color: beige;
    position: relative;
}

.book-form {
    position: absolute;
    left: 50%;
    width: 900px;
    top: 15%;
    padding: 50px;
    align-items: center;
    background-color: white;
    transform: translate(-50%, -10%);
    box-shadow: 0px 10px 20px rgb(124, 124, 124);
}

.book-form h3 {
    padding: 10px;
}

.r-person-info {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.r-all {
    padding: 10px;
}

.r-all select {
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.2em;
    cursor: pointer;
}

.r-person-info .r-all-info {
    padding: 10px;
}

.r-person-info div input {
    width: 100%;
    padding: 5px 8px;
    outline: none;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.2em;
    cursor: pointer;
}

.r-person-info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.r-person-info-2 .r-all-info {
    padding: 10px;
}

.r-person-info-2 div input {
    width: 100%;
    padding: 5px 8px;
    outline: none;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.2em;
    cursor: pointer;
}

.r-all textarea {
    width: 100%;
    min-height: 10vh;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.2em;
    cursor: pointer;
    outline: none;
}

.r-alart {
    padding: 5px 0px;
}

.r-alart h6 {
    color: rgb(252, 66, 66);
    background-color: rgb(248, 110, 110, 0.1);
    padding: 4px;
    border-left: 4px solid rgb(252, 66, 66);
}

.r-btn-book {
    padding: 10px;
}

.r-btn-book button {
    width: 120px;
    height: 40px;
    font-weight: bold;
    color: white;
    outline: none;
    background-color: rgba(207, 161, 8, 0.7);
    border: none;
    transition: all ease 0.3s;
    border-radius: 0.2em;
}

.r-btn-book button:hover {
    background-color: rgba(207, 161, 8);
    transition: all ease 0.3s;
}

@media only screen and (max-width: 1250px) {
    .r-rooms {
        display: grid;
        grid-template-columns: auto;
    }
    .r-img {
        width: 500px;
    }
    .r-info {
        margin-top: 20px;
        width: 500px;
        text-align: left;
    }
    .r-img img {
        width: 100%;
    }
    /* responsive form */
    .r-person-info {
        display: grid;
        grid-template-columns: 1fr;
    }
    .r-person-info-2 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .r-form {
        margin: auto;
        height: 150vh;
    }
    .book-form {
        width: 700px;
    }
}

@media only screen and (max-width: 950px) {
    .r-img {
        width: 500px;
    }
    .r-info {
        width: 500px;
        text-align: left;
    }
    .r-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .r-img {
        width: 400px;
    }
    .r-info {
        height: 300px;
        width: 400px;
        text-align: left;
    }
    .r-img img {
        width: 100%;
    }
    .r-form {
        margin: auto;
        height: 170vh;
    }
    .book-form {
        width: 500px;
    }
}

@media only screen and (max-width: 515px) {
    .r-img {
        width: 250px;
    }
    .r-info {
        height: 300px;
        width: 250px;
        text-align: left;
    }
    .r-img img {
        width: 100%;
    }
    .book-form {
        width: 400px;
    }
    .r-form {
        margin: auto;
        /* height: 150vh; */
    }
}

@media only screen and (max-width: 415px) {
    .book-form {
        width: 300px;
    }
    .r-form {
        margin: auto;
        height: 170vh;
    }
    .r-all textarea {
        width: 100%;
        font: 10px;
        min-height: 10vh;
        border: 1px solid rgb(184, 184, 184);
        border-radius: 0.2em;
        cursor: pointer;
        outline: none;
    }
    .r-all select {
        width: 100%;
        font-size: 12px;
        padding: 5px;
        border: 1px solid rgb(184, 184, 184);
        border-radius: 0.2em;
        cursor: pointer;
    }
    .r-person-info div input {
        width: 100%;
        font-size: 12px;
        padding: 3px 8px;
        outline: none;
        border: 1px solid rgb(184, 184, 184);
        border-radius: 0.2em;
        cursor: pointer;
    }
    .r-person-info-2 div input {
        width: 100%;
        font-size: 12px;
        padding: 3px 8px;
        outline: none;
        border: 1px solid rgb(184, 184, 184);
        border-radius: 0.2em;
        cursor: pointer;
    }
    .book-form h3 {
        font-size: 16px;
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    .r-form {
        margin: auto;
        height: 210vh;
    }
    .book-form h3 {
        font-size: 16px;
        text-align: center;
    }
    .r-all textarea {
        width: 100%;
        font: 10px;
        min-height: 10vh;
        border: 1px solid rgb(184, 184, 184);
        border-radius: 0.2em;
        cursor: pointer;
        outline: none;
    }
    .r-all select {
        width: 100%;
        font-size: 12px;
        padding: 5px;
        border: 1px solid rgb(184, 184, 184);
        border-radius: 0.2em;
        cursor: pointer;
    }
    .r-person-info div input {
        width: 100%;
        font-size: 12px;
        padding: 3px 8px;
        outline: none;
        border: 1px solid rgb(184, 184, 184);
        border-radius: 0.2em;
        cursor: pointer;
    }
    .r-person-info-2 div input {
        width: 100%;
        font-size: 12px;
        padding: 3px 8px;
        outline: none;
        border: 1px solid rgb(184, 184, 184);
        border-radius: 0.2em;
        cursor: pointer;
    }
}